<igx-card class="board-post-card">
  <!--  TODO: zdjecie profilowe-->
  <!--              <igx-card-media height="196px">
                  <img [src]="https://images.unsplash.com/photo-1518235506717-e1ed3306a89b?ixlib=rb-1.2.1&auto=format&fit=crop&w=640&q=50">
                </igx-card-media>-->
  <igx-card-header>
    <h3 igxCardHeaderTitle>{{boardPost.user.firstname}} {{boardPost.user.lastname}} </h3>
    <h5 igxCardHeaderSubtitle>{{boardPost.user.username}}
      <p style="all:unset; float:right" align="right">{{boardPost.created | date : 'medium' }}</p>
    </h5>
  </igx-card-header>
  <igx-card-content>

    <p >{{boardPost.content}}</p>
  </igx-card-content>
  <igx-card-actions>
    {{boardPost.likes.length}} &nbsp; &nbsp; &nbsp;{{getUsersLiked()}}
    <button igxButton igxRipple (click)="likeBoardPost(boardPost.id)" *ngIf="!isLikedByUser(boardPost.likes)">
      <mat-icon style="color:gray">thumb_up</mat-icon></button>
    <button igxButton igxRipple (click)="unlikeBoardPost(boardPost.id)" *ngIf="isLikedByUser(boardPost.likes)">
      <mat-icon>thumb_up</mat-icon></button>
    <button igxButton="icon" igxRipple igxRippleCentered="true">
      <mat-icon matTooltip="Wyślij wiadomość">message</mat-icon>
    </button>
  </igx-card-actions>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Komentarze
        </mat-panel-title>
        <mat-panel-description>
          {{boardPost.boardComments.length}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxFill>
<!--        <ng-container *ngFor="let comment of boardPost.boardComments">
          [{{comment.created | date: 'short'}}] {{comment.user.username}}: {{comment.content}} <br>
        </ng-container>-->

        <igx-list *ngFor="let comment of boardPost.boardComments">
          <igx-list-item >
            <h1 igxListLineTitle class="comment-title"><b>{{comment.user.username}}</b> [{{ comment.created |date: 'short' }}] napisał: </h1>
            <p igxListLineSubTitle>{{comment.content}}</p>
          </igx-list-item>
        </igx-list>

      <textarea class="textarea" matInput placeholder="Napisz komentarz" [(ngModel)]="commentToAdd"

      ></textarea>
        <button igxButton (click)="commentBoardPost(boardPost.id)">Wyślij komentarz</button>
      </div>


    </mat-expansion-panel>
  </mat-accordion>
</igx-card>
