.content{
  margin:10px;
  background-color: rgba(97, 61, 255, 0.18);
}

.nullpointer-post{
  margin:40px 40px;
}

.igx-typography .igx-card-content, .igx-typography .igx-card-content > p{
  font-size:10rem ;
  line-height: 10rem;
}

.textarea{
  width:100%;
}
